.fonts
{
	font-family: 'Cabin', sans-serif;
	font-size: 30px;
	
}

div h1
{
	font-family: 'Chewy', cursive;
	text-align: center;
	font-size:100px;
}

.dondiv
{
	height: auto;
	width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;
    margin: 50px;
	align:center;
	border-radius:25px;
	
}
 .box
 {
	/*height: auto;
	width: auto;
	padding:10px;
	margin:50px;
	border: 2px solid rgb(192,192,192);
	*/
	background-image:url("darkgray.png");
	width:auto;
	height:auto;
	border-radius:25px;
	padding:50px;
	color:white;	
	
 }
 
div li
 {
	list-style-image: url("pawprintnew.png");
	
}

.button
{
	background-color: orangered;
	color: white;
	font-family: 'Cabin', sans-serif;
	font-size: 30px;
	border: none;
	padding: 10px 20px;
	text-align:center;
	cursor: pointer;
	text-decoration: none;
	
	/*background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
	font-family:'Cabin', sans-serif;
    margin: 4px 2px;
    cursor: pointer;*/
	
	
}

.fonts
{
	/*font-family: 'Cabin', sans-serif;
	*/
	font-family: 'Comfortaa', cursive;
	font-size: 30px;
	/*font-weight:bold;
	*/
	
	
}

.adoptbanner
{
	position:relative;
	width:100%;
	position:relative;z-index:-1;
}

div  h2.words
{
	position:absolute;
	top:480px;
	left:250px;
	font-size:125px;
	color:white;
	font-family: 'Ubuntu', sans-serif;
}